/*------------ Fonts ---------- */


/*------------ Global ---------- */
html {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #a0a0a0;
}

body {
    margin: 0;
    background: #dadada;
}


/*------------ Header ---------- */
.header {
    background: #b13a35;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}

.sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    width: 20vw;
    height: 6vh;
    background: url(./images/bismark-logo.png) no-repeat;
    background-size: contain;
    min-width: 260px;
    min-height: 56px;
}


/*------------ Main ---------- */
.main {
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/*------------ Landing ---------- */
.landing {
    background: url(./images/landing-bg.jpg) no-repeat;
    background-size: cover;
    background-position-y: 3%;
    height: 55vh;
}


/*------------ Footer ---------- */
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}