/*------------ Fonts ---------- */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*------------ Global ---------- */
html {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #a0a0a0;
}

body {
    margin: 0;
    background: #0e0e0e;
}


/*------------ Header ---------- */
.header {
    background: #ad090b9e;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    height: 42px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.header > div {
    width: 33%;
}

.social-media-items {
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.nav-menu-items a,
.social-media-items i {
    text-transform: uppercase;
    padding: 0 10px;
}

.sections {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.logo {
    width: 14vw;
    height: 7vh;
    background: url(./images/bismark-logo.png) no-repeat;
    background-size: contain;
    min-width: 260px;
    min-height: 56px;
    background-position-x: center;
}


/*------------ Main ---------- */
.main {
    flex: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/*------------ Landing ---------- */
.landing {
    background: url(./images/landing-bg.jpg) no-repeat;
    background-size: cover;
    height: 57vh;
}


/*------------ Footer ---------- */
.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}