/* #region --------- Fonts --------- */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


/* #endregion ------ Fonts --------- */


/* #region --------- Global --------- */
body {
    color: #000;
    background: #0e0e0e;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}


a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #a0a0a0;
}

.form-group {
    justify-content: center;
    align-items: flex-start;
    flex: 0 50%;
}

input {
    background-color: #f4f9fb;
    border: 0;
    box-shadow: 0px 1px 1px 0px #E6E9EC;
    color: #555;
    margin-bottom: 14px;
    font-size: 12px;
    height: 26px;
    padding: 0px 10px;
    border-radius: 4px;
}

input:focus {
    outline-offset: 0px;
    outline: none;
    transition: .3s ease-in-out;
    background: #fff8e6;
    box-shadow: 0px 1px 1px 0px #f9c4ad;
    border: 0px;
}

label {
    padding: 10px 0px;
    font-size: 35px;
}

.text-center {
    text-align: center;
}

.element-center {
    margin: 0 auto;
}

.narrow-content {
    max-width: 900px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-full-grid > * {
    flex: 1;
}

.menu-items > * {
    text-transform: uppercase;
    padding: 0 10px;
}

.overlay-parent {
    position: relative;
}

.overlay-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* #endregion ------ Global --------- */


/* #region ------ Spacing --------- */
.mini-padding {
    padding: 5px 0;
}

.small-padding {
    padding: 10px;
}

.medium-padding {
    padding: 30px 40px;
}

.large-padding {
    padding: 60px 40px;
}

.mini-margin {
    margin: 5px 0;
}

.small-margin {
    margin: 10px 0;
}

.medium-margin {
    margin: 30px 0;
}

.large-margin {
    margin: 60px 0;
}


/* #endregion ------ Spacing --------- */


/* #region --------- Titles --------- */
.title {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.subtitle {
    font-size: 16px;
}

.article-title {
    font-size: 18px;
    font-weight: 600;
}


/* #endregion ------ Titles --------- */


/* #region --------- Palettes --------- */
.palette-one {
    background-color: rgb(171, 71, 71);
    color: rgb(247, 247, 247);
}

.palette-one-transparent {
    background-color: rgba(193, 0, 3, 0.6);
    color: #fff;
}

.palette-two {
    background-color: rgb(1, 23, 41);
    color: rgb(255, 255, 255);
}

.palette-two-transparent {
    background-color: #1657862e;
    color: #fff;
}

.palette-three {
    background-color: rgb(234, 234, 234);
    color: rgb(45, 45, 45);
}

.palette-four {
    background-color: rgb(80, 99, 4);
    color: rgb(247, 247, 247);
}

.bottom-blue {
    border-bottom: 4px solid rgb(72, 155, 199);
}

/* #endregion ------ Palettes --------- */


/* #region --------- Header --------- */
.navbar {
    margin-top: 20px;
    height: 42px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 10;
}

.social-media {
    font-size: 18px;
    justify-content: flex-end;
}

.logo {
    width: 14vw;
    height: 7vh;
    background: url(./images/bismark-logo.png) no-repeat;
    background-size: contain;
    min-width: 260px;
    min-height: 56px;
    background-position-x: center;
}


/* #endregion --------- Header --------- */


/* #region --------- Landing --------- */
.main {
    flex: auto;
}

.landing {
    height: 61vh;
}

.landing-bg-layer {
    background: url(./images/landing-bg-layer.jpg) no-repeat;
    background-size: cover;
}

.landing-bismark-layer {
    background: url(./images/landing-bismark-layer2.png) no-repeat;
    background-size: cover;
}

.landing-video-layer-border {
    align-self: flex-end;
    margin: 4vw 4vw 0;
    padding: 20px;
}


/* #endregion --------- Landing --------- */


/* #region --------- Music --------- */
.music-content {
    width: 100%;
}

.music-container {
    width: 100%;
    padding: 20px;
}


/* #endregion --------- Music --------- */


/* #region --------- Venues --------- */
.venue-items > div {
    flex: 1 0 20%;
    height: 100px;
    width: 200px;
}

.venue-item-moschino {
    background: url(./images/venues/moschino.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-pianos {
    background: url(./images/venues/pianos.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-lately {
    background: url(./images/venues/lately.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-handy {
    background: url(./images/venues/handy.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-slate {
    background: url(./images/venues/slate.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-space {
    background: url(./images/venues/space.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-playstation {
    background: url(./images/venues/playstation.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-webster {
    background: url(./images/venues/webster.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-studio-151 {
    background: url(./images/venues/studio-151.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-thai-rock {
    background: url(./images/venues/thai-rock.png) no-repeat;
    background-size: contain;
    background-position: center;
}

.venue-item-esquina {
    background: url(./images/venues/esquina.png) no-repeat;
    background-size: contain;
    background-position: center;
}


/* #endregion --------- Venues --------- */


/* #region --------- Footer --------- */
.footer {
}


/* #endregion --------- Footer --------- */