/* #region --------- Fonts --------- */
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');


/* #endregion ------ Fonts --------- */


/* #region --------- Global --------- */
body {
    color: #000;
    background: #0e0e0e;
    margin: 0;
    font-family: 'Barlow Condensed', sans-serif;
}


a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #a0a0a0;
}

.text-center {
    text-align: center;
}

.element-center {
    margin: 0 auto;
}

.narrow-content {
    max-width: 700px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-full-grid > * {
    flex: 1;
}

.menu-items > * {
    text-transform: uppercase;
    padding: 0 10px;
}

.overlay-parent {
    position: relative;
}

.overlay-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/* #endregion ------ Global --------- */


/* #region ------ Spacing --------- */
.mini-padding {
    padding: 5px 0;
}

.small-padding {
    padding: 10px;
}

.medium-padding {
    padding: 30px 40px;
}

.large-padding {
    padding: 60px 40px;
}

.mini-margin {
    margin: 5px 0;
}

.small-margin {
    margin: 10px 0;
}

.medium-margin {
    margin: 30px 0;
}

.large-margin {
    margin: 60px 0;
}


/* #endregion ------ Spacing --------- */


/* #region --------- Titles --------- */
.title {
    font-size: 20px;
    font-weight: 800;
}

.subtitle {
    font-size: 16px;
}

.article-title {
    font-size: 18px;
    font-weight: 600;
}


/* #endregion ------ Titles --------- */


/* #region --------- Palettes --------- */
.palette-one {
    background-color: #631b26;
    color: #f7f7f7;
}

.palette-one-transparent {
    background-color: #ad090b9e;
    color: #fff;
}

.palette-two {
    background-color: #061927;
    color: #fff;
}

.palette-two-transparent {
    background-color: #1657862e;
    color: #fff;
}

/* #endregion ------ Palettes --------- */


/* #region --------- Header --------- */
.navbar {
    margin-top: 20px;
    height: 42px;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 10;
}

.social-media {
    font-size: 18px;
    justify-content: flex-end;
}

.logo {
    width: 14vw;
    height: 7vh;
    background: url(./images/bismark-logo.png) no-repeat;
    background-size: contain;
    min-width: 260px;
    min-height: 56px;
    background-position-x: center;
}


/* #endregion --------- Header --------- */


/* #region --------- Main --------- */
.main {
    flex: auto;
}

.landing {
    height: 61vh;
}

.landing-bg-layer {
    background: url(./images/landing-bg-layer.jpg) no-repeat;
    background-size: cover;
}

.landing-bismark-layer {
    background: url(./images/landing-bismark-layer.png) no-repeat;
    background-size: cover;
}

.landing-video-layer-border {
    align-self: flex-end;
    margin: 4vw 4vw 2vw;
    padding: 20px;
}


/* #endregion --------- Main --------- */


/* #region --------- Footer --------- */
.footer {
}


/* #endregion --------- Footer --------- */